{% assign clean_desc_value = site.data.pretty_names.map_stats | where: "name", include.key | first %}
{% assign value_classname = include.value | downcase | slugify %}
{% if clean_desc_value.shortdesc %}
    {% assign shortdesc = clean_desc_value.shortdesc %}
{% else %}
    {% assign shortdesc = include.key %}
{% endif %}
{% if key == "best_score_time_ms" or key == "best_time_time_ms" %}
    {% assign tmpvalue = include.value | divided_by: 1000.0 %}
    {% assign minutes = tmpvalue | divided_by: 60 | floor %}
    {% if minutes > 0 %}
        {% assign minutesinsecs = minutes | times: 60 %}
        {% assign tmpvalue = tmpvalue | minus: minutesinsecs %}
        {% if tmpvalue < 10 %}
            {% assign tmpvalue = 0 | append: tmpvalue %}
        {% endif %}
        {% assign tmpvalue = minutes | append: ":" | append: tmpvalue %}
    {% endif %}
    {% if key == "best_score_time_ms" %}
        {% assign performer = include.obj["best_score_username"] | escape %}
        {% assign date_text = include.obj["best_score_timestamp_epoch"] | date: "%Y-%m-%d %H:%M %z" %}
        {% assign replayid = include.obj["best_score_replay_id"] %}
        {% assign character = site.data.characters | where: "key", include.obj["best_score_character"] | first %}
    {% else %}
        {% assign performer = include.obj["best_time_username"] | escape %}
        {% assign date_text = include.obj["best_time_timestamp_epoch"] | date: "%Y-%m-%d %H:%M %z" %}
        {% assign replayid = include.obj["best_time_replay_id"] %}
        {% assign character = site.data.characters | where: "key", include.obj["best_time_character"] | first %}
    {% endif %}
    {% capture value %}
        {{ tmpvalue }} <a href="dustforce://replay/{{ replayid }}" title="Click to watch in client">📷</a>
    {% endcapture %}
    {% capture annotation %}
        has-annotation record-{{ character.value }}" title="Set by '{{ performer }}' at {{ date_text }} with Dust{{ character.value }}
    {% endcapture %}
{% else %}
    {% assign annotation = nil %}
    {% assign value = include.value %}
{% endif %}
<li class="map-stat stat-key-{{ include.key }} stat-attrib-{{ value_classname }} stat" title="{{ clean_desc_value.longdesc }}">
    <div class="map-stat-value stat-value {{ annotation }}">{{ value }}</div>
    <div class="map-stat-key stat-key">{{ shortdesc }}</div>
</li>
