{% assign clean_desc_value = site.data.pretty_names.map_stats | where: "name", include.key | first %}
{% assign value_classname = include.value | downcase | slugify %}
{% if clean_desc_value.shortdesc %}
    {% assign shortdesc = clean_desc_value.shortdesc %}
{% else %}
    {% assign shortdesc = include.key %}
{% endif %}
<li class="map-stat stat-key-{{ include.key }} stat-attrib-{{ value_classname }} stat" title="{{ clean_desc_value.longdesc }}">
    <div class="map-stat-value stat-value">{{ include.value }}</div>
    <div class="map-stat-key stat-key">{{ shortdesc }}</div>
</li>
